.container-resto{
    background-color: blueviolet;
    height: 100vh;
}

@media (max-width:1254px) {
    .container-resto{
        height: auto;
    }
}

@media (max-width:767px) {
    .container-resto{
        padding-bottom: 100px;
    }
}