.remove-txt-decoration {
  text-decoration: none;
}
.remove-txt-decoration:hover {
  text-decoration: none;
  background-color: rgb(25 117 79);
  box-shadow: 0px 0px 10px rgb(33 33 33), 0px 0px 15px rgb(74 202 160);
}
.remove-txt-decoration:hover .btn-home {
  color: white;
}
.size-btn-home {
  width: 400px;
  background-color: rgb(66 177 131);
  border-radius: 10px;
}
.btn-home {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bolder;
  letter-spacing: 1px;
  font-family: "LuoisGeorgeItalic";
}
.remove-txt-decoration {
  box-shadow: 0px 0px 10px white;
}

@media (max-width: 470px) {
  .size-btn-home {
    width: 70%;
    padding: 5px;
  }
  .btn-home {
    font-size: 0.8em;
  }
}

/* Import fonts */
@font-face {
	font-family: "LuoisGeorgeLight";
	src: url("../../../assets/fonts/louis_george_caf/Louis\ George\ Cafe\ Light.ttf");
}
@font-face {
	font-family: "LuoisGeorgeItalic";
	src: url("../../../assets/fonts/louis_george_caf/Louis\ George\ Cafe\ Bold\ Italic.ttf");
}